<configuration>
<springProperty name="lokiHost" source="logging.loki.host" />

<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>{%d{yyyy-MM-dd HH:mm:ss} "level":"%level", [%thread] %-5level %logger{36} - %msg}%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>DEBUG</level>
    </filter>
</appender>
<root level="DEBUG">
<appender-ref ref="CONSOLE" />
</root>
</configuration>