####################################################################
# WhiteSource Unified-Agent generated configuration file
####################################################################
########################################################
# GENERAL SCAN MODE: Files and Package Managers
########################################################

resolveAllDependencies=false
archiveExtractionDepth=7
followSymbolicLinks=true
html.resolveDependencies=true
maven.resolveDependencies=true
#------------------------------------------------------------------------
#------------------------ Fill in the parameters ------------------------
#------------------------------------------------------------------------

#apiKey=ENV
#userKey=ENV
#Unique identifier of the organization. It can be retrieved from the 'Integrate' page in your WhiteSource account

productName=MaaT
productVersion=1.0.10
#Name of the product to create or update

projectName=MaaT
projectVersion=1.0.10
#Name of the project to create or update

wss.url=https://app-eu.whitesourcesoftware.com/agent
#URL to send the request to. Use the 'WhiteSource Server URL' which can be retrieved from your 'Profile' page on the 'Server URLs' panel. Then, add New configuration was created at the '/agent' path to it,
#For example: "https://<domain>.whitesourcesoftware.com/agent".

#---------------- File name patterns to search ----------------
includes=**/*.java **/*.bat **/*.sh **/*.js **/*.ps1
excludes=**/.* **/node_modules **/src/test **/testdata **/*sources.jar **/*javadoc.jar **/mend